.pic {
    max-width: 30vw;
    display: flex;
    margin: auto;
    box-shadow: 0 0 5rem 2rem rgb(253, 253, 253);
}

.modal {
    text-align: center;
    overflow: hidden;
    background-color: lavender;
    border-radius: 0.5rem;
    border: 1px black solid;
    max-width: 50vw;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.664);
}

body {
    background-color: lightgoldenrodyellow;
}

.btn {
    margin: 1rem;
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 0.5rem;
    background-color: bisque;
}

.content {
    display: flex;
    place-items: center;
    place-content: center;
    min-height: 100vh;
    flex-flow: column;
}
